name: Deploy GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar GitHub Pages
        uses: actions/configure-pages@v4

      - name: Fazer upload dos arquivos
        uses: actions/upload-pages-artifact@v2
        with:
          path: static  # Altere se necessário para o caminho correto dos arquivos

      - name: Publicar no GitHub Pages
        uses: actions/deploy-pages@v4
